blosc>=1.8.1,<2
diskcache==4.1.0
h5py
jupyter
matplotlib
numpy
Pillow
scikit-image>=0.15.0
scipy
SimpleITK

# The book was written targeting PyTorch 1.4, but everything in it should work fine with more up-to-date versions.
torch